<div class="row">
  <h1 style="color: #e0e49e;">Find users by selecting role</h1>
</div>
<div class="row">
  <mat-form-field>
    <mat-select name="selectRows" [(ngModel)]="selectedRoleId" (ngModelChange)='onRoleSelected(selectedRoleId)'>
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let option of availableRoles" value="{{option._id}}">{{option.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<table mat-table class="table roles-table" [dataSource]="usersList" id="list-view-table" >


  <ng-container matColumnDef="fname">
    <th mat-header-cell *matHeaderCellDef> FULL NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.fname+" "+element.lname}} </td>
  </ng-container>
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef> CREATED AT</th>
    <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
  </ng-container>
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>
  <ng-container matColumnDef="role_id">
    <th mat-header-cell *matHeaderCellDef>ROLE ID</th>
    <td mat-cell *matCellDef="let element"> {{element.role_id}} </td>
  </ng-container>
  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef> USER ID</th>
    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow >
    <td class="mat-cell" colspan="9999" style="text-align: center;">
      No users found!!
    </td>
  </tr>
</table>
<div class="row" >
  <div *ngIf="totalRecords>0">
    <!-- {{(currentPage*maxRows)-(maxRows-1)}}-{{currentPage*maxRows}} of
    <span (click)="previousPage()"  style='margin-right:1.25em;'>&#60; </span>
    <span (click)="nextPage()" style='margin-left:1.25em;'> &#62;</span> -->

    <mat-paginator #paginator [length]="totalRecords" [pageSize]="maxRows" [pageSizeOptions]="noOfRows"
      (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>